.App {
  text-align: center;
  position:relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.topBar{
  background: rgba(204, 204, 204, 0.86);
  align-items: center;
  color: black;
  width: 314px;
  text-align: justify;
  margin-top: 530.5px;
  display: flex;
}

.welcome {
  color: white;
  top: -220px;
  text-align: center;
  align-items: center;
  margin-top: -150px;
  font-size: 22px;
  position:relative;
  
  
}

.body-aboutme{
  color: white;
  font-size: calc(9px + 0.5vw);

}

.socials {
  top: 10px;
  margin-top: -650px;
  margin-left: 175px;
}

.background-video {
  position: fixed;
  filter: blur(6px) brightness(70%);
 
  transform: scale(1.2);
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}


.Background {
  /*background-image: url("./background.jpeg");
  background-repeat: repeat-y;
  background-size:cover;*/
  min-height: 40vw;
  height: 100%;
  width: 100%;
  position:fixed;
  
}

.resume{
  font: 30px;
  margin-top: -730px;
  color: white;
  
}

.App-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.contactsbox{
  margin-left: 24px;
}
